@model soffapp.Models.Proveedor

@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>Detalle Proveedor</h4>

    <div class="mt-4 border rounded bg-white">
        <table class="table mb-0 table-bordered table-striped">
        <tr>
            <th>
                    @Html.DisplayNameFor(model => model.Nombre)

            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Empresa)

            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Direccion)

            </th>
            <th>
                    @Html.DisplayNameFor(model => model.FechaRegistro)

            </th>

            <th>
                    @Html.DisplayNameFor(model => model.Correo)

            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Telefono)

            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Ciudad)

            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Estado)

            </th>
            <th>
                ACIONES
            </th>


        </tr>
        <tr>
            <th>
                    @Html.DisplayFor(model => model.Nombre)

            </th>
            <th>
                    @Html.DisplayFor(model => model.Empresa)

            </th>
            <th>
                    @Html.DisplayFor(model => model.Direccion)

            </th>
            <th>
                    @Html.DisplayNameFor(model => model.FechaRegistro)

            </th>
            <th>
                    @Html.DisplayFor(model => model.Correo)

            </th>
            <th>
                    @Html.DisplayFor(model => model.Telefono)

            </th>
            <th>
                    @Html.DisplayFor(model => model.Ciudad)

            </th>
            <th>
                    @Html.DisplayFor(model => model.Estado)

            </th>
            <th>
                    <a asp-action="Edit" asp-route-id="@Model.IdProveedor" class="btn border rounded">
                        <i class="bi bi-pencil-square"></i>
                    </a> 
            </th>


        </tr>
    </table>

</div>
    <div class="w-100  d-flex justify-content-center align-items-center">
        <a class="text-white btn btn-dark  mt-2 p-2" asp-action="Index">Volver</a>

    </div>
</div>


 
