@model IEnumerable<soffapp.Models.Proveedor>

@{
    ViewData["Title"] = "Proveedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<style>

</style>

<div class="">
    <div class="w-100 row">
        <div class="col-2">
            <button class="btn btn-dark">
                Generar Reporte
            </button>
        </div>
        <div class="col-10 px-0 d-flex align-items-center justify-content-end">

            <a class="btn btn-primary" asp-action="Create">Create New</a>

        </div>

    </div>
</div>


<table class=" mt-2 table mb-0 table-bordered table-striped">
    <thead>
        <tr class="fs-6">

            <th class="bg-light">
                @Html.DisplayNameFor(model=> model.IdProveedor)
            </th>
            <th class="bg-light">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th class="bg-light">
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th class="bg-light">
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th class="bg-light">
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th class="bg-light">
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th class="bg-light">
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th class="bg-light">
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th class="bg-light">
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th class="bg-light">Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td class="d-flex">
                    <a asp-action="Edit" asp-route-id="@item.IdProveedor" class="btn border rounded">
                        <i class="bi bi-pencil-square"></i>
                </a>
                    <a asp-action="Details" asp-route-id="@item.IdProveedor" class="btn border rounded">
                        <i class="bi bi-file-zip"></i>
                </a>
                
                    <a asp-action="Delete" asp-route-id="@item.IdProveedor" class="btn border rounded">
                        <i class="bi bi-trash3"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
