@model soffapp.Models.Ventum;
@{
    ViewData["Title"] = "Ventas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="w-100 row m-0">
        
        <div class="col-2 p-0">
            <a asp-controller="Ventas" asp-action="ReportePDF" class="btn btn-dark">
                Gestionar reporte
            </a>
        </div>
        <div class="col-10 px-0 d-flex align-items-center justify-content-end">
            <form method="post" asp-action="Create">
                <button type="submit" class="btn btn-primary">
                    Agregar venta
                </button>
            </form>
        </div>
    </div>
</div>

<div class="mt-4 border rounded bg-white">
    <table class="table mb-0 table-bordered table-striped">
        <thead>
            <tr>
                <td>Id</td>
                <td>Fecha</td>
                <td>Tipo Venta</td>
                <td>Metodo</td>
                <td>Cantidad Ordenes</td>
                <td>Total</td>
            </tr>
        </thead>
        <tbody>
            @foreach(var venta in ViewBag.Ventas)
            {
                <tr>
                    <td>@venta.IdVenta</td>
                    <td>@venta.FechaVenta</td>
                    <td>@venta.TipoVenta</td>
                    <td>@venta.Metodo</td>
                    <td>@venta.CantidadOrdenes</td>
                    <td>@venta.Total</td>
                </tr>
            }
        </tbody>
    </table>
</div>

