
@{
    ViewData["Title"] = $"Detalle de compra {ViewBag.IdCompra}";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var total = 0;
}
@foreach (var orden in ViewBag.Ordenes)
{
    total += orden.Total;
}
<div class="mt-4 border rounded bg-white">
    <table class="table mb-0 table-bordered table-striped">
        <thead>
            <tr>
                <td>Id</td>
                <td>Insumo</td>
                <td>Cantidad</td>
                <td>Precio</td>
                <td>Total</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var orden in ViewBag.Ordenes)
            {
                <tr>
                    <td>@orden.IdOrden</td>
                    <td>@orden.Nombre</td>
                    <td>@orden.Cantidad</td>
                    <td>@orden.PrecioUnitario</td>
                    <td>@orden.Total</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div class="alert alert-dark mt-2 d-flex justify-content-between align-items-center h-100">
    <span>Total compra: @ViewBag.TotalCompra</span>
    <a asp-area="" asp-controller="Compras" asp-action="Index" class="ml-auto align-self-center" style="text-decoration: none;">
        <p>Regresar</p>
    </a>
</div>
