@model IEnumerable<soffapp.Models.Producto>

@{
    ViewData["Title"] = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="w-100 row">
        <div class="col-12 px-0 d-flex align-items-center justify-content-end">
            <form method="post" asp-action="Create">
                <button type="submit" class="btn btn-primary">
                    Agregar producto
                </button>
            </form>
        </div>
    </div>
</div>
<div class="mt-4 border rounded bg-white">


    <table class="table mb-0 table-bordered table-striped">
    <thead>
            <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-controller="DetalleInsumo" asp-action="Edit" asp-route-id="@item.IdProducto" class="btn border rounded">
                    <i class="bi bi-pencil-square"></i>
                </a> 
                    <a asp-action="Details" asp-route-id="@item.IdProducto" class="btn border rounded">
                    <i class="bi bi-file-zip"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@item.IdProducto" class="btn border rounded">
                    <i class="bi bi-trash3"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>