@{
    var insumos = ViewData["Insumos"] as List<Insumo>;
}

<h2>Reportes</h2>

<div class="data-section">
    <h3>Insumos</h3>
    <table class="table">
        <thead>
            <tr>
                <th>IdProveedor</th>
                <th>Nombre</th>
                <th>FechaCaducidad</th>
                <th>Stock</th>
                <th>Medida</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var insumo in insumos)
            {
                <tr>
                    <td>@insumo.IdProveedor</td>
                    <td>@insumo.Nombre</td>
                    <td>@insumo.FechaCaducidad</td>
                    <td>@insumo.Stock</td>
                    <td>@insumo.Medida</td>
                    <td>@insumo.Precio</td>
                </tr>
            }
        </tbody>
    </table>
</div>
