@model Tuple<DetalleInsumo, Producto, AsociacionProducto>
@{
    ViewData["Title"] = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid row g-4 column-2 py-2">
    <div class="col-8">
        <form class="row g-2" asp-action="Create" method="post">
            <input type="hidden" asp-for="Item2.IdProducto" value="@ViewBag.IdProducto" />
            <div class="col-3">
                <label>Insumo</label>
                <select class="form-control" asp-for="Item1.IdInsumo" asp-items="@(new SelectList(ViewBag.Insumos, "IdInsumo", "Nombre"))">
                    <option>Seleccione</option>
                </select>
            </div>
            <div class="col-2">
                <label>Cantidad</label>
                <input type="number" asp-for="Item1.Cantidad" class="form-control" />
            </div>
            <div class="col-2">
                <label>Medida</label>
                <input type="text" asp-for="Item1.Medida" class="form-control" />
            </div>
            <input type="hidden" asp-for="Item1.IdInsumo" value="@ViewBag.IdInsumo" />

            <div class="col-4 d-flex align-items-end justify-content-end">
                <button class="btn btn-primary" type="submit">
                    Agregar detalle
                </button>
            </div>
        </form>
        <div class="mt-3 border rounded bg-white">
            <table class="table table-borderless mb-0">
                <thead>
                    <tr class="text-gray bg-gray-300">
                        <th>Insumo</th>
                        <th>Cantidad</th>
                        <th>Medida</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var detalle in ViewBag.Detalles)
                    {
                        <tr>
                            <td>@detalle.IdInsumo</td>
                            <td>@detalle.Cantidad</td>
                            <td>@detalle.Medida</td>
                            <td class="d-flex align-items-center">
                                <a class="btn mr-2 border py-1 px-2">
                                    <i class="bi bi-input-cursor"></i>
                                </a>
                                <a href="@Url.Action("Delete", "DetalleInsumo", new { id = detalle.IdDetalle, otroId = ViewBag.IdProducto})" class="btn border py-1 px-2">
                                    <i class="bi bi-trash3"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


<div class="col-4 p-2 bg-white rounded border px-4 py-4">
    <form class="detail-container" asp-action="ConfirmSale" method="post">
        <input type="hidden" asp-for="Item2.IdProducto" value="@ViewBag.IdProducto" />
        <div>
            <div class="w-100 d-flex flex-column mb-3 align-items-center">
                <p class="w-100 h4 mb-3 text-center"><strong>MANDISA</strong></p>
                <p class="mb-0">NIT 71227771-4</p>
                <p class="mb-0">Diagonal 57 #20-27, Navarra/Bello</p>
                <p class="mb-0">(+57) 3146486791</p>
            </div>
            
            <hr />
            <div class="">
                <p class="mb-0"><strong>Nombre</strong></p>
                <input class="form-control" asp-for="Item2.Nombre"/>
            </div>
            <div class="">
                <p class="mb-0"><strong>Precio</strong></p>
                <input class="form-control" asp-for="Item2.Precio" />
            </div>

        </div>
        <div class="w-100 d-flex flex-column mt-auto">
            <a class="btn btn-light border mb-2" asp-controller="Productos" asp-action="Delete" asp-route-id="@ViewBag.IdProducto">Cancelar </a>
            <button class="btn btn-primary" type="submit">Guardar</button>
        </div>
    </form>
</div>
</div>

